<div class="sticky top-0 z-40 lg:z-50 w-full max-w-7xl mx-auto bg-white flex-none flex">
	<div class="flex-none pl-4 sm:pl-6 xl:pl-8 flex items-center border-b border-gray-200 lg:border-b-0 lg:w-60 xl:w-72" id="logo">
		<span class="sprite caperucita irAbajo"></span> CAPERUCITA ROJA
	</div>
	<div class="flex-auto border-b border-gray-200 h-16 flex items-center justify-between px-4 sm:px-6 lg:mx-6 lg:px-0 xl:mx-8">
		Inteligencia Artificial - UTN Facultad Regional Santa Fe - 2021 <span class="sprite utnsf"></span>
	</div>
</div>
<div class="w-full max-w-7xl mx-auto">
	<router-outlet></router-outlet>
</div>