table {
	margin: 0 auto;
	text-align: center;
	color: transparent;
}

td {
	height: 40px;
	width: 40px;
	display: inline-block;
	border: 1px solid #000;
	position: relative;
	padding: 0;
}

td[data-entity="1"] {
	background: green;
}

td[data-entity="2"] {
	background: purple;
}

td[data-entity="3"] {
	background: grey;
}

td[data-entity="4"] {
	background: pink;
}

td[data-entity="5"] {
	background: red;
}

.data-cell {
	display: none;
	color: #000;
    position: absolute;
	width: 40px;
	height: 40px;
	left: 0;
    top: 0;
}

td:hover .data-cell {
    display: block;
}

.button-row button:last-child {
	margin-left: 10px;
}

.text-point {
	font-family: monospace;
}

.waifu {
	width: 500px;
	margin: 0 auto;
}